/* ================Common CSS================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1400px;
    /* text-align: center; */
}
.section-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.description{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 30px;
    border: none;
}


/* ================Header CSS================ */
.header{
    padding-top: 50px;
}
.header nav{
    display: flex;
    justify-content: space-between;
}
.header nav .nav-title{
    margin-left: -15px;
}
.header nav ul{
    display: flex;
    justify-content: flex-end;
}
.header ul li{
    list-style: none;
    margin-left: 30px;
}
.header ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.header .banner .banner-top{
    max-width: 50%;
    margin: 0 auto; 
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.header .banner .banner-top p{
    margin: 50px 0;
}
.header .banner .banner-title{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.header .banner-img{
    margin-bottom: 45px;
}
.header .banner-img img{
    width: 100%;
}

/* ================Feature CSS================ */
.feature{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
    margin-top: 80px;
}
.feature .feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 1%;
}
.feature .feature-img .feature-image{
    border-radius: 8px;
}
.feature .feature-img .feature-image img{
    width: 100%;
}
.feature .feature-description{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    margin-left: 60px;
}
#feature-title-span-one{
    color: #131313;
}
#feature-title-span-two{
    color: #FF900E;
}
.feature .feature-description .feature-title{

}
.feature .feature-description p{
    margin: 25px 0;
}


/* ================Responsive CSS================ */
@media screen and (max-width: 576px){
    .container{
        width: 95%;
    }
    .header nav, .header nav ul{
        flex-direction: column;
    }
    .header nav .nav-title{
        margin-left: 0;
    }
    .header nav ul{
        margin: 20px 0;
    }
    .header ul li{
        margin-left: 0px;
    }
    .header .banner .banner-title{
        font-size: 30px;
    }
    .header .banner .banner-top{
        max-width: 90%;
        margin: 0 auto; 
    }
    .header .banner .banner-top p{
        margin: 20px 0;
    }
    .header .banner-img{
        margin-top: 40px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px){
    .header .banner .banner-title{
        font-size: 30px;
    }
}


